
:root {
    --bs-blue: #63B3ED;
    --bs-indigo: #596CFF;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #F56565;
    --bs-orange: #fd7e14;
    --bs-yellow: #FBD38D;
    --bs-green: #81E6D9;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #f0f2f5;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #e91e63;
    --bs-secondary: #7b809a;
    --bs-success: #4CAF50;
    --bs-info: #1A73E8;
    --bs-warning: #fb8c00;
    --bs-danger: #F44335;
    --bs-light: #f0f2f5;
    --bs-dark: #22314b;
    --bs-white: #fff;
    --bs-primary-rgb: 233, 30, 99;
    --bs-secondary-rgb: 123, 128, 154;
    --bs-success-rgb: 76, 175, 80;
    --bs-info-rgb: 26, 115, 232;
    --bs-warning-rgb: 251, 140, 0;
    --bs-danger-rgb: 244, 67, 53;
    --bs-light-rgb: 240, 242, 245;
    --bs-dark-rgb: 52, 71, 103;
    --bs-white-rgb: 255, 255, 255;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 123, 128, 154;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: "Roboto", Helvetica, Arial, sans-serif;
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #7b809a;
    --bs-body-bg: #fff; 
}
  
  *,
  *::before,
  *::after {
    box-sizing: border-box; 
}
  
  @media (prefers-reduced-motion: no-preference) {
    :root {
      scroll-behavior: smooth; } 
    }
  
body{
    background-color: #f0f2f5;
}
/* Navbar */
.bg-navbar{
    background-color: #343a40;
}
.navbar-brand{
    font-size: 30px;
}
.navbar{
    min-height: 130px;
}
.logo { 
    max-width: 100%;
    height: 70px; 
    text-indent: -9999px;
}
/* settings */
.fixed-plugin .fixed-plugin-button{
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    align-items: center;
    display: flex;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 30px;
    left: auto;
    font-size: 1.25em;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 16%);
    text-decoration: none;
    justify-content: center;
}

.fixed-plugin-button i{
    pointer-events: none;
}

.fixed-plugin .card {
    position: fixed !important;
    right: -300px;
    top: 0;
    height: 100%;
    left: auto !important;
    transform: unset !important;
    width: 300px;
    border-radius: 0;
    padding: 0 10px;
    transition: .2s ease;
    z-index: 1020; 
}
.fixed-plugin.show .card {
    right: 0; 
}
.card-title{
    font-weight: 600;
}
.configuration-title{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;

}
.card-header-config{
    background-color: white;
}
.fixed-plugin .badge {
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 23px;
    margin-right: 5px;
    position: relative;
    width: 23px;
    transition: all 0.2s ease-in-out; 
}
.switch-trigger{
    text-decoration: none;
}
.fixed-plugin .badge:hover, .fixed-plugin .badge.active {
  border-color: #344767; 
}
      
.bg-gradient-primary {
    background-image: linear-gradient(195deg, #EC407A 0%, #D81B60 100%); }
  
  .bg-gradient-secondary {
    background-image: linear-gradient(195deg, #747b8a 0%, #495361 100%); }
  
  .bg-gradient-success {
    background-image: linear-gradient(195deg, #66BB6A 0%, #43A047 100%); }
  
  .bg-gradient-info {
    background-image: linear-gradient(195deg, #49a3f1 0%, #1A73E8 100%); }
  
  .bg-gradient-warning {
    background-image: linear-gradient(195deg, #FFA726 0%, #FB8C00 100%); }
  
  .bg-gradient-danger {
    background-image: linear-gradient(195deg, #EF5350 0%, #E53935 100%); }
  
  .bg-gradient-light {
    background-image: linear-gradient(195deg, #EBEFF4 0%, #CED4DA 100%); }
  
  .bg-gradient-dark {
    background-image: linear-gradient(195deg, #42424a 0%, #191919 100%); }

    /* wather section */
    .weather-layout{
        background: url(../imgs/street-bg-light.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
        min-height:620px;
    }
    .weather-overlay{
        background-color: #00000063;
        height: 100%;
        min-height:620px;
    }
    input:focus, textarea:focus {
        outline: none;
    }
    .weather-layout form{
        padding: 5em 2em;
    }
    .weather-layout .input-1{
        border: none;
        width: 100%;
        padding-left: 1em;
        background-color: #00000000;
    }
    .weather-layout .input-group-1{
        margin-top: 55px;
        padding: 10px;
        border-radius: 33px;
    }
    .weather-layout .input-group-1 button{
        border-radius: 30px;
    }
    .searchBtn:focus{
        outline: none;
        border:none;
        box-shadow: none;
    }
    .searchBtn{
        padding: 1em 2em;
        outline: none;
        border:none;
        box-shadow: none;
    }
    .focus-info:focus-within {
        box-shadow: 0 0 2pt 1pt var(--bs-info);
    }
    .focus-primary:focus-within {
        box-shadow: 0 0 2pt 1pt var(--bs-primary);
    }
    .focus-success:focus-within {
        box-shadow: 0 0 2pt 1pt var(--bs-success);
    }
    .focus-warning:focus-within {
        box-shadow: 0 0 2pt 1pt var(--bs-warning);
    }
    .focus-danger:focus-within {
        box-shadow: 0 0 2pt 1pt var(--bs-danger);
    }
    .focus-secondary:focus-within {
        box-shadow: 0 0 2pt 1pt var(--bs-secondary);
    }
    .bg-more-dark{
        background-color: #24334c;
    }
    .bg-more-white{
        background-color: #ffffff;
    }

    /* Weather Cards Style */
   
    .card{
        border:none;
        min-height: 270px;
        margin:0;
    }
    /* footer */
    footer{
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    a{
        text-decoration: none;
    }
    .weather-item-icon img{
        width:100%;
        min-height: auto;
    }
    .degree{
        font-size: 40px;
    }
    .side-color{
        color:var(--bs-info);
        font-size: 32px;
    }
    .weather-txt{
        font-size: 20px;
    }
   

    
